###########################################################################
#                            HTML Snippets                                #
###########################################################################
snippet html "add a basic html skeliton" b
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>${1:site-title}</title>
	</head>

	<body>
		${2}
	</body>

</html>

endsnippet
