###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet yuim "Add a YUI model" b
/**
 * @module  ${1:module-name}
 */
ACX.add('$1', function (A) {
  "use strict";


	A.$1 = $1;

}, "0.0.1", {
  requires: []
});
endsnippet

snippet yuiv "Add a YUI view" b

endsnippet
